// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;
$mono: 'Courier New', Courier, monospace;
$condensed: 'nimbus-sans-condensed', 'Impact', $sans-serif;
$freight-display: 'freight-display-pro', $serif;

$base-font-family: $sans-serif;
$header-font-family: $freight-display;
$title-font-family: $condensed;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: 1.5;
$base-border-radius: em(3);

$grid-padding-desktop: 40px;
$grid-padding-tablet: 20px;
$grid-padding-phone: 14px;

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #477DCA;
$blue-white: #e6f2ff;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$off-gray: #d7d2d3;
$warm-gray: #564d58;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $warm-gray;
$base-accent-color: $blue;
$overlay-text-color: white;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Logo colors
$nav-color-dark : $warm-gray;
$nav-link-color-dark : tint($warm-gray, 10%);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// animation
$scrollCurve    : cubic-bezier(0.7,0,0.3,1);
$spinCurve      : cubic-bezier(.38,.15,.07,1);
$easeOutQuint    : cubic-bezier(0.23, 1, 0.32, 1);
$easeInExpo     : cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeInOutQuint : cubic-bezier(0.86, 0, 0.07, 1);
$easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutQuart : cubic-bezier(0.77, 0, 0.175, 1);
$easeOutBack    : cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInBack     : cubic-bezier(0.6, -0.28, 0.735, 0.045);

// nav logo

$nav-padding-desktop      : 30px;
$nav-logo-size-desktop    : 64px;
$nav-close-size-desktop   : 52px;
$nav-close-position       : ($nav-logo-size-desktop - $nav-close-size-desktop) / 2;
$nav-overlay-init-size    : 1px;
$nav-overlay-pos-desktop  : ($nav-logo-size-desktop / 2) - ($nav-overlay-init-size / 2);

