@import 'init';


html {
  height: 100%;
  // -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  position: relative;
  height: 100%;
}

.header, .top-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background-color: $off-gray;
}

.bg-canvas__image {
  @include position(absolute, 0px 0% 0px 0px);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: $warm-gray;
  // background-attachment: fixed;
  @include transition-property(opacity, transform);
  @include transition-duration(500ms);
  @include transition-timing-function($scroll-curve);
  opacity: 0.75;
  .modify & {opacity: 1;}
}

.bg-canvas__mask {
  position: absolute;
  background-color: rgba(#fff, .95);
  @include transition-property(all);
  @include transition-duration(500ms);
  @include transition-timing-function($scroll-curve);
  &:after {
    content: "";
    @include position(absolute, 70% 0px 0px 0px);
    @include linear-gradient(rgba(#fff, 0), #fff);
  }
  .modify.modify-refresh & {
    @include transition-duration(0ms);
  }
}

$mask-border-width-desktop : 12px;

.mask--top {
  top: 0px;
  left: 0px;
  right: 0px;
  height: $mask-border-width-desktop;
  @include transform(translateY(-100%));
  .modify & {@include transform(translateY(0))}
}
.mask--right {
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: $mask-border-width-desktop;
  @include transform(translateX(100%));
  .modify & {@include transform(translateX(0))}
}
.mask--bottom {
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $nav-height-desktop;
  @include transform(translateY(100%));
  .modify & {
    @include transform(translateY(0));
    // opacity: 0.93;
  }
  @include media($phone) {
    height: $nav-height-phone;
  }
}
.mask--left {
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: $mask-border-width-desktop;
  @include transform(translateX(-100%));
  .modify & {@include transform(translateX(0))}
}

.header-overlay {
  position: absolute;
  top: 15%;
  width: 100%;
  @include media($phone) {
    top: 0;
  }
}

.header-top-left {
  position: relative;
  cursor: s-resize;
  @include transition-property(color, transform, opacity);
  @include transition-duration(500ms);
  @include transition-timing-function($scroll-curve);
  color: $overlay-text-color;
  @include transform(translateY(120px));
  .modify & {
    @include transform(translateY(0));
    opacity: 0;
  }
  .h1 {
    display: inline;
    font-family: $base-font-family;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-style: italic;
    font-size: $base-font-size * 3;
    line-height: .9;
    // &:before {
    //   position: absolute;
    //   left: -100px;
    // }
  }
}

.splash-logo {
  text-align: center;
  .splash-logo__inner {
    display: inline-block;
    width: 256px;
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
  }
}

.title-alt {display: none;}

.title-alt, .title-name {
  // @include position(absolute, 0px 0 0 0px);
}

.slide-trigger {
  cursor: s-resize;
  .modify & {cursor: default;}
}

.header-nav {
  @include position(absolute, 0px 0px $nav-height-desktop 0px);
  &.nav-light {
    a {color: #fff}
  }
  @include media($phone) {
    bottom: $nav-height-phone;
  }
}

.header-nav__inner {
  display: table;
  height: 100%;
  width: 100%;
}

.header-nav__valign {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.nav-social-links {
  @include clearfix;
  position: relative;
  margin: 0 auto;
  max-width: em(400);
  top: 2px;
  a {
    padding: 10px 15px;
    margin-right: 10px;
    display: inline-block;
    opacity: 0.8;
    &:last-child {margin-right: 0;}
    &:hover {opacity: 1;}
  }
}

.social-links__left,
.social-links__right {
  width: 50%;
}

.social-links__left {
  float: left;
  text-align: right;
  padding-right: 5px;
}

.social-links__right {
  float: right;
  text-align: left;
  padding-left: 5px;
}

$nav-logo-size : 64px;

.nav-logo {
  @include position(absolute, 50% 0 0 0);
  display: inline-block;
  width: $nav-logo-size;
  margin-top: -($nav-logo-size / 2);
  margin-left: -($nav-logo-size / 2);
  display: none;
  a {
    opacity: 0.9;
    &:hover {opacity: 1;}
  }
}

.header-content {
  @include position(absolute, 40% 0px 0 0px);
}

.slide-in-item {
  opacity: 0;
  display: none;
}

.content {
  position: relative;
  top: -14%;
}