@import 'init';


html {
  height: 100%;
  // -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  position: relative;
  height: 100%;
}

.header, .top-container {
  position: relative;
  width: 100%;
  height: 100%;
  @include media($desktop-narrow) {
    position: absolute;
  }
}

.bg-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background-color: $off-gray;
}

.bg-canvas__image {
  @include position(absolute, 0px 0% 0px 0px);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  // background-attachment: fixed;
  @include transition-property(opacity, transform);
  @include transition-duration(500ms);
  @include transition-timing-function($scroll-curve);
  opacity: 0.75;
  .modify & {opacity: 1;}
  @include media($desktop-narrow) {
    .modify & {@include transform(translateY(-70%));}
  }
  @include media($phone-wide) {
    .modify & {@include transform(translateY(-80%));}
  }
}

.bg-canvas__mask {
  position: absolute;
  background-color: white;
  @include transition-property(all);
  @include transition-duration(500ms);
  @include transition-timing-function($scroll-curve);
  .modify.modify-refresh & {@include transition-duration(0ms);}
}

.mask--top {
  top: 0px;
  left: 0px;
  right: 0px;
  height: $bg-mask-size-top;
  @include transform(translateY(-100%));
  .modify & {@include transform(translateY(0))}
}
.mask--right {
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: $bg-mask-size-side;
  @include transform(translateX(100%));
  .modify & {@include transform(translateX(0))}
}
.mask--bottom {
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $bg-mask-size-top;
  @include transform(translateY(100%));
  .modify & {@include transform(translateY(0))}
}
.mask--left {
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: $header-left-width + 12;
  @include transform(translateX(-100%));
  .modify & {@include transform(translateX(0))}
}

@include media($desktop-narrow) {
  .mask--top    {height:  $grid-padding-desktop;}
  .mask--right  {width:   $grid-padding-desktop;}
  .mask--bottom {display: none;}
  .mask--left   {width:   $grid-padding-desktop;}
}

@include media($phone-wide) {
  .mask--top    {height:  0;}
  .mask--right  {width:   0;}
  .mask--bottom {display: none;}
  .mask--left   {width:   0;}
}

.header-overlay {
  @include position(absolute, $bg-mask-size-top 0 0 $bg-mask-size-side);
  width: $header-left-width;
  @include media($desktop-narrow) {
    position: relative;
    width: auto;
    left: inherit;
    right: inherit;
    padding: 0 $grid-padding-desktop;
  }
  @include media($phone-wide) {
    padding: 0 $grid-padding-phone;
  }
}

.header-top-left {
  position: relative;
  @include transition-property(color, transform, top);
  @include transition-duration(500ms);
  @include transition-timing-function($scroll-curve);
  color: $overlay-text-color;
  // @include transform(translateY(300px));
  .modify ~ .header-overlay & {
    color: $base-font-color;
    // top: $bg-mask-size-top;
    // @include transform(translateY(0));
  }
  .header-title {margin-top: -20px;}
  .h1 {
    display: inline;
    font-family: $base-font-family;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-style: italic;
    font-size: $base-font-size * 3;
    line-height: .9;
    // &:before {
    //   position: absolute;
    //   left: -100px;
    // }
  }
  a {
    display: inline-block;
    position: relative;
    z-index: 10;
    width: 36px;
    top: 65px;
    color: $overlay-text-color;
    cursor: pointer;
    opacity: .8;
    @include transition(color 500ms $scroll-curve);
    .modify ~ .header-overlay &  {color: $base-font-color}
    &:last-child {margin-right: 0;}
  }
  .no-touch & {
    a:hover {
      opacity: 1;
       ~ .title-name {display: none;}
    }
    .trigger-erinautomatic {
      &:hover {
        ~ .title-erinautomatic {display: block;}
      }
    }
    .trigger-email {
      &:hover {
        ~ .title-email {display: block;}
      }
    }
    .trigger-wavey {
      &:hover {
        ~ .title-wavey {display: block;}
      }
    }
  }
  .subline {
    font-family: $mono;
    padding-top: 25px;
    @include media($phone-wide) {padding-top: 60px;}
    @include media($phone) {padding-top: 45px;}
  }
  // &.with-at h1:before {content: "@";}
  @include media($phone-wide) {
    a {
      font-size: 22px;
      margin-right: 10px;
      top: 75px;
    }
  }
  @include media($phone) {
    .h1 {font-size: $base-font-size * 2.25;}
    a {
      top: 80px;
    }
  }
  // @include media($netbook-13) {
  //   @include transform(translateY(0px));
  // }
}

.title-alt {display: none;}

.title-alt, .title-name {
  // @include position(absolute, 0px 0 0 0px);
}

.slide-trigger {
  cursor: s-resize;
  .modify & {cursor: default;}
}

.header-content {
  padding-top: 20%;
  @include media($netbook-13) {
    padding-top: 10%;
  }
  @include media($netbook-11) {
    padding-top: 4%;
  }
  @include media($desktop-narrow) {
    padding-top: 70px;
  }
  @include media($phone-wide) {
    padding-top: 90px;
  }
  @include media($phone) {
    padding-top: 60px;
  }
}

.slide-in-item {
  opacity: 0;
  display: none;
}

.content {
  position: relative;
}

@include media($desktop-narrow) {
  .header-overlay, .content {top: $bg-mask-size-top * 3.7;}
}
@include media($phone-wide) {
  .header-overlay, .content {top: $bg-mask-size-top * 2.5;}
}
@include media($phone) {
  .header-overlay, .content {top: $bg-mask-size-top * 2.3;}
}