@import 'init';

$nav-padding-desktop      : 20px;
$nav-trigger-size-desktop : 44px;
$nav-overlay-init-size    : 4px;
$nav-overlay-pos-desktop  : ($nav-trigger-size-desktop / 2) - ($nav-overlay-init-size / 2);

.cd-nav-trigger {
  @include position(fixed, $nav-padding-desktop $nav-padding-desktop null null);
  height: $nav-trigger-size-desktop;
  width: $nav-trigger-size-desktop;
  z-index: 5;
  // image replacement
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer;
  @include tap-highlight;
  &:before, &:after {
    content: " ";
    @include position(absolute, 0 null null 0);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    @include transition-property(transform);
  }
  &:before {
    background-color: $blue;
    @include transform(scale(1));
    @include transition-duration(400ms);
    @include transition-delay(200ms);
  }
  &:after {
    background-color: $base-body-color;
    @include transform(scale(0));
    @include transition-duration(0ms);
    @include transition-delay(200ms);
  }
  &.close-nav {
    // user clicks on the .cd-nav-trigger element - 1st rounded background disappears
    &:before {
      @include transform(scale(0.9));
      @include transition-duration(300ms);
      @include transition-delay(0ms);
      @include transition-timing-function($easeInOutQuint);
    }
    // user clicks on the .cd-nav-trigger element - 2nd rounded background appears
    &:after {
      @include transform(scale(1));
      @include transition-duration(300ms);
      @include transition-delay(400ms);
    }
  }
}

$nav-trigger-icon-color     : shade($blue, 40%);
$nav-trigger-icon-color-off : rgba($nav-trigger-icon-color, 0);

.cd-icon {
  @include position(absolute, 50% auto auto 50%);
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: $nav-trigger-icon-color;
  z-index: 10;
  @include transform(translate(-50%, -50%) rotate(0deg));
  @include transition(transform 400ms $spinCurve);
  &:before, &:after {
    content: " ";
    @include position(absolute, 0 0 null null);
    width: 100%;
    height: 100%;
    background-color: inherit;
    @include transition(transform 300ms ease);
  }
  &:before {@include transform(translateY(-6px) rotate(0deg));}
  &:after {@include transform(translateY(6px) rotate(0deg));}
  .close-nav & {
    background-color: $nav-trigger-icon-color-off;
    @include transform(translate(-50%, -50%) rotate(180deg));
    &:before, &:after {background-color: $nav-trigger-icon-color;}
    &:before {@include transform(translateY(0) rotate(45deg));}
    &:after {@include transform(translateY(0) rotate(-45deg));}
  }
}

$content-fade-timing : 300ms;
$content-fade-delay  : 50ms;

// containers of the 2 main rounded backgrounds
// - these containers are used to position the rounded bgs behind the menu icon
.cd-overlay-nav, .cd-overlay-content {
  @include position(fixed, $nav-padding-desktop $nav-padding-desktop null null);
  height: $nav-overlay-init-size;
  width: $nav-overlay-init-size;
  @include transform(translate(-($nav-overlay-pos-desktop), $nav-overlay-pos-desktop));
  background-color: black;
  &.is-hidden {
    @include transition(
      visibility 0ms ($content-fade-timing + $content-fade-delay),
      opacity $content-fade-timing $content-fade-delay
    );
    visibility: hidden;
    opacity: 0;
  }
}

.cd-overlay-nav {
  z-index: 2;
}

.cd-overlay-content {
  z-index: 4;
}

.overlay-mask {
  content: " ";
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  will-change: transform;
  transform: scale(0);
  .cd-overlay-nav & {
    background-color: $blue;
  }
  .cd-overlay-content & {
    background-color: $base-body-color;
  }
}

.cd-primary-nav {
  @include position(fixed, 0 0 0 0);
  padding: 5%;
  background-color: $blue;
  z-index: 3;
  -webkit-overflow-scrolling: touch;
  // animate
  @include transition(visibility 0ms, opacity 300ms);
  visibility: hidden;
  opacity: 0;
  a {color: #000;}
  &.fade-in {
    visibility: visible;
    opacity: 1;
  }
}