@import "flash";

@mixin tap-highlight() {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin background-cover($pos-y: center, $pos-x: center) {
  background-repeat: no-repeat;
  background-position: $pos-y $pos-x;
  background-size: cover;
}

@mixin fill($width: 100%) {
  @include box-sizing(border-box);
  width: $width;
}

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else if $value == off {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}